<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>25组销量曲线图</title>
  <!--     jQuery文件。务必在bootstrap.min.js 之前引入-->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!--bootstrap-->
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">-->
    <!--    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>-->
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <!--    <link href="/static/css/mycss.css" rel="stylesheet">-->
</head>
    <body>
    <div class="row">
        <div class="col-md-3"></div>
       <div class="col-md-4">
            {{ myechart|safe }}
        </div>
        <div class="col-md-5"></div>
     </div>
    </body>
</html>